*{
    font-size: 15px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}


body{
    background-color: #333;
    font-family: 'Zen Dots', sans-serif;
}

.conteiner{
    max-width: 1325px;
    margin: 0 auto;
    padding: 0 15px;
}


.btn-anim{
    width: 100%;
    height: fit-content;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(120% 0%, 120% 0% , 100% 100%, 100% 100%);
    background-color: #fd307a;
    transition: .7s;
}

.img-bg{
    background-image: url(../images/Home/hero-bg-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -5;
    opacity: .5;
    width: 100%;
    height: 100%;
}

.img-bg-2{
    background-image: url(../images/Home/bg_02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -5;
    opacity: .5;
    width: 100%;
    height: 100%;
}



.img-bg-3{
    background-image: url(../images/Home/bg_03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -5;
    opacity: .5;
    width: 100%;
    height: 100%;
}


.img-bg-4{
    background-image: url(../images/About/bg_04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -5;
    opacity: .5;
    width: 100%;
    height: 100%;
}

.img-bg-5{
    background-image: url(../images/About/bg_05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -5;
    opacity: .5;
    width: 100%;
    height: 100%;
}

.img-bg-6{
    background-image: url(../images/About/cta-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -5;
    opacity: .5;
    width: 100%;
    height: 100%;
}


/* header 
................................................*/
.header{
    height: 100vh;
    position: relative;
}




.header-inner{
    width: 100%;
    height: 100%;
    background-color: #00000056;
}


.header-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-top-block{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info__text{
    color: #fff;
    transition: .3s;
    padding: 0 15px;
    font-weight: 200;
} 

.header-info-burger{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    cursor: pointer;
}

.header-info-burger-block{
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 25px;
}

.header-info-burger-block::before{
    position: absolute;
    content: "  ";
    top: -5px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
}
.header-info-burger-block::after{
    position: absolute;
    content: "  ";
    top: 5px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
}



.active{
    color: #fd307a;
}

.header-info__text:hover{
    color: #fd307a;
}


.header-center{
    display: flex;
    flex-direction: column;
}

.header-center-text-top{
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #fff;
}

.header-center-text-bottom{
    color: #fff;
    font-size: 4.7rem;
    font-weight: 900;
    max-width: 500px;
}

.header-botoom-block{
    display: flex;
    flex-wrap: wrap;
}

.header-bottom__inner{
    border-style: solid;
    border-width: 1px;
    border-color: #747474;
    width: 25%;
    height: 225px;
    color: #fff;
    padding: 50px;
}

.header-bottom__inner-number{
    color: #fd307a;
}

.header-bottom__inner-text{
    margin-top: 15px;
    font-weight: 700;
    font-size: 1.3rem;
}


/* about
....................................... */

.section-bg{
    background-image: url(../images/Home/bg_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #fff;
}

.main{
    position: relative;
}

.about{
    display: flex;
    justify-content: center;
    color: #fff;
    height: auto;
}
.about-block{
    width: 50%;
    height: inherit;
}

.about-block__inner{
    padding: 80px 80px 0px 80px;
}


.about-block__inner-one{
    color: #a5b8d2;
    opacity: .7;
    font-size: 1.3rem;
    margin-top: 40px
}


.about-block__inner-to{
    margin-top: 25px;
    font-size: 3.4rem;
    font-weight: 700;
}


.about-block__inner-free{
    margin-top: 70px;
    color: #bebebe;
}

.about-block__inner-btn{
    position: relative;
    display: inline-block;
    border-style: solid;
    margin-top: 30px;
    border-width: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}
.about-block__inner-btn a{
    display: block;
    padding: 15px 40px;
    color: #fff;
}

.about-block__inner-btn:hover .btn-anim{
    clip-path: polygon(0% 0%, 120% 0% , 100% 100%, -20% 100%);
}

.about-block-img{
    width: 100%;
    height: 100%;
    background-color: #747474;
}





/* platform
.................................. */


.platform-block{
    color: #fff;
    padding: 0px 175px;
    margin-top: 200px;
}


.platform-block-text-one{
    font-weight: 700;
}


.platform-block-text-too{
    font-size: 3.4rem;
    font-weight: 700;
    margin-top: 15px;
}

.platform-info{
    padding: 50px 0px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #747474;

}


.platform-info__block{
    display: flex;
    justify-content: space-between;
    color: #fff;
    cursor: pointer;
    align-items: center;
}


.platform-info__block-text{
    font-size: 2rem;
    font-weight: 700;
}


.platform-info__block-symbol{
    font-size: 1rem;
    font-weight: 700;
    rotate: 180deg;
}

.platform-info__block-text-none{
    max-height: 0px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transition: all .7s ease-out;
}




/* project
.................................................. */
.project{
    margin-top: 100px;
    border-top-style: solid;
    border-width: 1px;
    border-color: #747474;
}
.project-text{
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    align-items: center;
}


.project-text-one{
    color: #fff;
    font-size: 3.4rem;
    font-weight: 700;
}

.project-btn{
    color: #fff;
}

.project-btn:hover{
    color: #fd307a;
    transition: .3s;
}

.project-images{
    display: flex;
}

.project-images__block{
    position: relative;
    width: 25%;
    height: 675px;
}

.project-images__block-img{
    width: 100%;
    height: 100%;
}

.project-images__block-text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.project-images__block-text:hover{
    background-color: #fd307b54;
    transition: .5s;
}

.project-images__block-text__inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px 50px;
    background-color: #00000056;

}

.project-images__block-text__inner-one{
    color: #fd307a;
    font-size: 1.2rem;
    font-weight: 700;
}


.project-images__block-text__inner-too{
    color: #fff;
    font-size: 1.8rem;
    margin-top: 10px;
}


.project-images__block-text__inner-free{
    color: #747474;
    font-size: 1rem;
    margin-top: 5px;
}

/* info
................................................... */

.info{
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 150px;
}

.info-text-one{
    font-size: 1.3rem;
}

.info-text-too{
    margin: 10px 0px 50px 0px;
    font-size: 3.4rem;
    font-weight: 700;
}

.info__block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #747474;
}

.info__block_text{
    width: 33%;
    padding: 0px 40px 40px 0px;
}

.info__block_text__one{
    font-size: 1.9rem;
    font-weight: 700;
}

.info__block_text__too{
    margin-top: 20px;
    color: #747474;
}


.info-text-free{
    margin-top: 100px;
    font-weight: 700;
}


.info-text-fo{
    font-size: 3.4rem;
    font-weight: 700;
    width: 100%;
    margin-top: 20px;
}

.info-logo{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}

.info-logo__block{
    width: 25%;
}

.info-logo__block img{
    width: 100%;
    height: 100%;
}



/* projectinfo
.................................................... */

.projectinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #00000056;
    position: relative;
}



.projectinfo__text{
    text-align: center;
    padding: 150px 300px;
}


.projectinfo__text-one{
    color: #fff;
    font-size: 3.4rem;
    font-weight: 700;
    padding: 0px 50px;
    margin-top: 50px;
}


.projectinfo__text-too{
    color: #747474;
    margin-top: 20px;
}

.projectinfo-btn{
    position: relative;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    margin-top: 50px;
    transition: .3s;
}

.projectinfo-btn__block{
    display: block;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #fff;
}



.projectinfo-btn:hover .btn-anim{
    clip-path: polygon(0% 0%, 120% 0% , 100% 100%, -20% 100%);
}


.projectinfo__text__element{
    margin: 0 auto;
    width: 70px;
    height: 1px;
    background-color: #fd307a;
}



/* footer 
.....................................................*/

.footer{
    padding: 100px 250px;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-top-style: solid;
    border-width: 1px;
    border-color: #fff;
    gap: 30px;
}

.footer-one{
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    grid-row: 1/2;
    color: #fff;
}

.footer-one>img{
    width: fit-content;
    margin-bottom: 20px;
}

.footer-too{
    display: flex;
    flex-direction: column;
    grid-column: 3/4;
    grid-row: 1/2;
    color: #fff;
}

.footer-too p{
    font-size: 1.7rem;
    margin-bottom: 25px;

}

.footer-too a{
    color: #fff;
    margin: 5px 0px;
}

.footer-free{
    display: flex;
    flex-direction: column;
    grid-column: 4/5;
    grid-row: 1/2;
    color: #fff;
}

.footer-free p{
    font-size: 1.7rem;
    margin-bottom: 25px;

}

.footer-free a{
    color: #fff;
    margin: 5px 0px;
}


footer a:hover{
    color: #fd307a;
    transition: .3s;
    
}




@media (max-width: 1600px){
    .project-images__block{
        height: 600px;
    }
}

@media (max-width: 1400px){
    *{
        font-size: 13px;
    }
    .project-images__block{
        height: 500px;
    }
}

@media (max-width: 1200px){
    *{
        font-size: 11px;
    }
    .project-images__block{
        height: 450px;
    }
    .project-images__block-text__inner{
        padding: 30px;
    }
    .projectinfo__text{
        padding: 100px 200px;
    }
    .platform-block{
        margin-top: 100px;
    }
}



@media (max-width: 1000px){
    .platform-block{
        padding: 0px 135px;
    }
    .project-images__block{
        height: 375px;
    }
    .projectinfo__text{
        padding: 100px 200px;
    }
    .footer{
        padding: 50px;
    }
    .header-bottom__inner{
        width: 50%;
        height: 150px   ;
    }
    .about-block__inner{
        padding: 30px;
    }
    .about-block__inner-to{
        font-size: 2.4rem;
    }
    .platform-block-text-too{
        font-size: 2.4rem;
    }
    .projectinfo__text-one{
        font-size: 2.4rem;
        margin-top: 20px;
    }
    .info-text-too{
        font-size: 2.4rem;
    }
    .info-text-fo{
        font-size: 2.4rem;
    }
    .project-text-one{
        font-size: 2.4rem;
    }
}

@media (max-width: 900px){
    *{
        font-size: 10px;
    }
    .project-images__block{
        height: 335px;
    }
    .info{
        padding: 50px;
    }
    .info-text-free{
        margin-top: 50px;
    }
}

@media (max-width: 800px){
    .platform-block{
        padding: 0px 75px;
    }
    .platform-info{
        padding: 30px 0px;
    }
    .project-images{
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    .project-images__block{
        width: 40%;
    }
    .projectinfo__text{
        padding: 50px 100px;
    }

}

@media (max-width: 700px){
    .about-block__inner{
        padding: 10px;
    }
    .about-block__inner-free{
        margin-top: 35px;
    }
}

@media (max-width: 600px){
    .platform-block{
        padding: 0px;
        margin-top: 40px;
    }
    .project{
        margin-top: 50px;
    }
    .projectinfo-btn{
        margin-top: 20px;
    }
}


@media (max-width: 600px){
    *{
        font-size: 8px;
    }
    .project-images__block{
        height: 270px;
    }
    .footer{
        padding: 25px;
    }
}


@media (max-width: 500px){
    *{
        font-size: 7px;
    }
    .header-info{
        display: none;
    }
    .header-info-burger{
        display: flex;
    }
    .info{
        padding: 30px 10px;
    }
    .about-block__inner-one{
        margin-top: 10px;
    }
    .about-block__inner-btn a{
        padding: 7px 20px;
    }
    .about-block__inner-to{
        margin-top: 15px;
    }
    .about-block__inner-free{
        margin-top: 20px;
    }
    .projectinfo__text{
        padding: 50px;
    }
    .project-images__block-text__inner{
        padding: 8px;
    }
    .projectinfo-btn__block{
        padding: 5px 15px;
    }
}


@media (max-width: 400px){
    .info__block_text{
        width: 100%;
        padding: 0px 20px 40px 0px;
    }
    .projectinfo__text{
        padding: 25px;
    }
    .about-block__inner-to{
        font-size: 1.4rem;
    }
    .platform-block-text-too{
        font-size: 1.4rem;
    }
    .projectinfo__text-one{
        font-size: 1.4rem;
        margin-top: 20px;
    }
    .info-text-too{
        font-size: 1.4rem;
    }
    .info-text-fo{
        font-size: 1.4rem;
    }
    .project-text-one{
        font-size: 1.4rem;
    }
}

@media (max-width: 300px){
    .footer-one>img{
        width: 100%;
    }
    .header-bottom__inner{
        height: 60px;
    }
    .project-images__block{
        width: 80%;
    }
    *{
        font-size: 6px;
    }
    .info-text-too{
        margin-bottom: 30px;
    }
    .info__block_text{
        padding-bottom: 20px;
    }
    .info-text-free{
        margin-top: 30px;
    }
    .info-text-fo{
        margin-top: 10px;
    }
    .info-logo{
        margin-top: 30px;
    }

}


@media (max-height:600px){
    .header{
        height: 150vh;
    }
}

@media (max-height:400px){
    .header{
        height: 180vh;
    }
    .about-block__inner-to{
        font-size: 2.4rem;
    }
    .platform-block-text-too{
        font-size: 2.4rem;
    }
    .projectinfo__text-one{
        font-size: 2.4rem;
        margin-top: 20px;
    }
    .info-text-too{
        font-size: 2.4rem;
    }
    .info-text-fo{
        font-size: 2.4rem;
    }
    .project-text-one{
        font-size: 2.4rem;
    }
}




@media (max-height:300px){
    .header__about{
        height: 150vh;
    }
    .about-center__block{
        height: 200vh;
    }
    .header{
        height: 250vh;
    }
}



.show{
    position: absolute;
    left: 0px;
    top: 80px;
    display: flex;
    flex-direction: column;
    background-color: #293445;
    width: 100%;
    height: fit-content;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #fff;
    transition: .3s all;
}

.show a{
    font-size: 20px;
    padding: 20px 10px;
    border-top-style: solid;
    border-width: 1px;
    border-color: #fff;
}


.display{
    max-height: fit-content;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: all .7s ease-in; 
    margin-top: 25px;
}



